* {
}

body {
    font-size: 16px;
    position: relative;
    background: #f5f5f5

}
html,body{
    height: 100%;
    display: block;
    scroll-behavior: smooth;

}
div {
    display: block;
}
::selection {
    background-color: palevioletred;
    color: white;
}
.main {
    background-color: #eee;
    padding-bottom:initial
}
.el-container{
    width: 75%;
    margin: 0 auto;
}
.main-inner{
    margin: 0 auto;
    width: 75%;
}
.content-wrap{
    float: right;
    width: calc(100% - 252px);
    box-sizing: border-box;
    min-height: 700px;

}
.container {
    position: relative;
    min-height: 100%;
    *zoom: 1;
    padding-bottom: 72px;
}
.container:before,.container:after {
    content: "";
    display: table;
}
.container:after {
    clear: both;
}
.btn{
    display: inline-block;
    padding: 0 20px;
    font-size: 14px;
    color: #555;
    background: #fff;
    border: 2px solid #555;
    text-decoration: none;
    border-radius: 2px;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    line-height: 2;
    cursor: pointer
}
.btn:hover{
    color: #fff;
    background: #000000;
    border: 2px solid #000000;

}
.post-expand .post-block{
    margin-bottom: 12px;
    padding: 40px;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 6%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 -1px 0.5px 0 rgb(0 0 0 / 9%);

}
.post-expand .post-header{

}
.post-expand .post-title{
    text-align: center;
    word-break: break-word;
    font-weight: 400;
    font-size: 1.7em;
    line-height: 1.5;
    font-family: sans-serif;

}
.post-expand .post-title-link{
    display: inline-block;
    position: relative;
    color: #555;
    border-bottom: none;
    vertical-align: top;
    line-height: inherit;
}
.post-expand .post-meta{
    margin: 3px 0 60px 0;
    color: #999;
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
    line-height: 2;
}
.post-meta-item-icon{
    margin-right: 3px;
}
.post-meta-divider {
    margin: 0 0.5em;
}
.text-center{
    text-align: center;
}
.post-body{
    font-family: sans-serif;
    text-align: justify;
    line-height: 2;
}
.post-button{
    margin-top: 40px;
}
#category{
    border-bottom: 1px solid #999;
}
#category:hover{
    color: black;
}
.page-title{
    padding: 0 10px;
    font-size: 24px;
    color: #475669;
    text-shadow: 2px 2px 3px rgba(31,45,61,0.2),-1px -1px #ffffff;
    line-height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-content{
    background: #ffffff;
    box-shadow: 5px 8px 12px rgba(31,45,61,0.1);
    padding: 32px;
    border-radius: 16px;
    margin-bottom: 20px;
    flex: 1;
}