<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dun.mapper.BlogMapper">

<!--    获取全部博客-->
    <select id="getBlogList" resultType="java.util.HashMap">
        SELECT
        blog.id AS id,
        blog.title AS title,
        blog.content AS content,
        blog.create_time AS createTime,
        category.`name` AS categoryName,
        category.id AS categoryId
        FROM
        blog
        INNER JOIN
        category
        ON
        blog.category_id = category.id
        ORDER BY
            createTime DESC
    </select>

    <!--根据分类id获取博客-->
    <select id="getBlogListByCategoryId" resultType="java.util.HashMap">
        SELECT
            blog.title AS title,
            blog.id AS id,
            blog.create_time AS createTime,
            category.`name` AS categoryName
        FROM
            category
                INNER JOIN
            blog
            ON
                category.id = blog.category_id
        WHERE
            category.id = #{id}
        ORDER BY
            createTime DESC
    </select>

    <!--查询单个详细信息-->
    <select id="getBlogDetailById" resultType="java.util.HashMap">
        SELECT
            blog.id AS id,
            blog.title AS title,
            blog.content AS content,
            blog.create_time AS createTime,
            blog.category_id AS categoryId,
            category.`name` AS categoryName,
            category.id AS categoryId
        FROM
            blog
                INNER JOIN
            category
            ON
                blog.category_id = category.id
        WHERE
            blog.id = #{id}
    </select>
</mapper>


