@font-face {
  font-family: "iconfont"; /* Project id 3191849 */
  src: url('iconfont.woff2?t=1653563584284') format('woff2'),
       url('iconfont.woff?t=1653563584284') format('woff'),
       url('iconfont.ttf?t=1653563584284') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghu-xianxing:before {
  content: "\e8c8";
}

.icon-icon_reply:before {
  content: "\e609";
}

.icon-folder:before {
  content: "\e85c";
}

.icon-file:before {
  content: "\e861";
}

.icon-time:before {
  content: "\e862";
}

.icon-calendar:before {
  content: "\e863";
}

