@font-face {
  font-family: "iconfont"; /* Project id 3191849 */
  src: url('iconfont.woff2?t=1653897689828') format('woff2'),
       url('iconfont.woff?t=1653897689828') format('woff'),
       url('iconfont.ttf?t=1653897689828') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianzan:before {
  content: "\e668";
}

.icon-rcd-home:before {
  content: "\e60f";
}

.icon-rcd-list:before {
  content: "\e610";
}

.icon-rcd-reconciliation:before {
  content: "\e611";
}

.icon-rcd-search:before {
  content: "\e612";
}

.icon-yonghu-xianxing:before {
  content: "\e8c8";
}

.icon-icon_reply:before {
  content: "\e609";
}

.icon-folder:before {
  content: "\e85c";
}

.icon-file:before {
  content: "\e861";
}

.icon-time:before {
  content: "\e862";
}

.icon-calendar:before {
  content: "\e863";
}

